.lists {
    width: 98vw;
    overflow-y: scroll;
    white-space: nowrap;

    .list {
        display: inline-block;
        width: 240px;
        background: #eee;
        margin-right: 20px;
        padding: 10px;
    }

    .list--name {
        font-weight: bold;
        font-size: 1.1em;
    }

    .list-highlight {
        @extend .list;

        background: white;
        border: 4px;
        border: 1px solid #ccc;
    }
}

